.idea/*
.vscode/*
Pipfile.lock
*.pyc
*.ini
bin/*
logs/*
staticfiles/*
media/*
thefarmateste-firebase-adminsdk-d4m34-a4496add17.json
.idea/
api/__pycache__/
api/management/__pycache__/
api/management/commands/__pycache__/
api/migrations/__pycache__/
api/mixins/__pycache__/
api/models/__pycache__/
api/serializers/__pycache__/
api/utils/__pycache__/
api/views/__pycache__/
core/__pycache__/
core/migrations/__pycache__/
core/tasks/__pycache__/
core/templatetags/__pycache__/
core/views/__pycache__/
misc/__pycache__/
static/sass/
thefarmaapi/__pycache__/
**.DS_Store