[[source]]

url = "https://pypi.python.org/simple"
name = "pypi"
verify_ssl = true


[packages]

redis = "*"
asgi-redis = "==1.4.2"
requests = "*"
python-decouple = "*"
python-cards = "*"
awesome-mixins = "*"
pillow = "*"
pusher = "*"
celery = "==4.1.0"
django = "==1.11.4"
dj-database-url = "*"
dj-static = "*"
django-extensions = "*"
channels = "==1.1.6"
djangoajax = "*"
djangorestframework = "==3.6.3"
drfdocs = "*"
gunicorn = "*"
geopy = "*"
invoke = "*"
django-filters = "*"
django-filter = "*"
python-decouple-plus = {editable = true, git = "https://github.com/juanjbrown/python-decouple-plus"}
django-cors-headers = "==2.1.0"
django-crispy-forms = "==1.6.1"
coreapi = "==2.3.1"
cpf-cnpj = "==0.1.4"
"cieloapi3" = {git = "https://github.com/DeveloperCielo/API-3.0-Python", editable = true}
anyjson = "*"
gcloud = "*"
olefile = "==0.44"
openapi-codec = "==1.3.2"
pydotplus = "==2.0.2"
pyrebase = "==3.0.9"
simplejson = "==3.11.1"
"psycopg2" = "*"
service-identity = "==17.0.0"
"markdown2" = "==2.3.4"


[dev-packages]

"pep8" = "*"
bpython = "*"
isort = "*"
model-mommy = "*"
pylint = "*"


[requires]

python_version = "3.5"
