amqp==2.2.2
anyjson==0.3.3
asgi-redis==1.4.2
asgiref==1.1.2
asn1crypto==0.24.0
astroid==1.6.1
async-timeout==2.0.0
attrs==17.4.0
autobahn==17.10.1
Automat==0.6.0
awesome-mixins==0.18
billiard==3.5.0.3
blessings==1.6.1
bpython==0.17
celery==4.1.0
certifi==2018.1.18
cffi==1.11.4
channels==1.1.6
chardet==3.0.4
-e git+https://github.com/DeveloperCielo/API-3.0-Python#egg=cieloApi3
constantly==15.1.0
coreapi==2.3.1
coreschema==0.0.4
cpf-cnpj==0.1.4
cryptography==2.1.4
curtsies==0.2.11
daphne==1.4.2
dj-database-url==0.4.2
dj-static==0.0.6
Django==2.0.2
django-braces==1.12.0
django-cors-headers==2.1.0
django-crispy-forms==1.6.1
django-extensions==1.9.9
django-filter==1.1.0
django-filters==0.2.1
djangoajax==2.4
djangorestframework==3.6.3
drfdocs==0.0.11
future==0.16.0
gcloud==0.18.3
geopy==1.11.0
googleapis-common-protos==1.5.3
greenlet==0.4.13
gunicorn==19.7.1
httplib2==0.10.3
hyperlink==17.3.1
idna==2.6
incremental==17.5.0
invoke==0.22.1
isort==4.3.0
itypes==1.1.0
Jinja2==2.10
kombu==4.1.0
lazy-object-proxy==1.3.1
markdown2==2.3.4
MarkupSafe==1.0
mccabe==0.6.1
model-mommy==1.5.1
msgpack-python==0.5.1
ndg-httpsclient==0.4.4
oauth2client==4.1.2
olefile==0.44
openapi-codec==1.3.2
pep8==1.7.1
Pillow==5.0.0
protobuf==3.5.1
psycopg2==2.7.3.2
pusher==1.7.3
pyasn1==0.4.2
pyasn1-modules==0.2.1
pycparser==2.18
pydotplus==2.0.2
Pygments==2.2.0
pylint==1.8.2
pyOpenSSL==17.5.0
pyparsing==2.2.0
Pyrebase==3.0.9
python-cards==1.3
python-decouple==3.1
-e git+https://github.com/juanjbrown/python-decouple-plus#egg=python_decouple_plus
pytz==2017.3
redis==2.10.6
requests==2.18.4
rsa==3.4.2
service-identity==17.0.0
simplejson==3.11.1
six==1.11.0
sseclient==0.0.18
static3==0.7.0
Twisted==17.9.0
txaio==2.8.2
typing==3.6.4
uritemplate==3.0.0
urllib3==1.22
vine==1.1.4
wcwidth==0.1.7
wrapt==1.10.11
zope.interface==4.4.3
