{% load staticfiles %}

<div class="sidebar" data-color="purple" data-image="{% static 'theme/img/sidebar-1.jpg' %}">
    <!--
        Tip 1: You can change the color of the sidebar using: data-color="purple | blue | green | orange | red"

        Tip 2: you can also add an image using data-image tag
    -->

    <div class="logo">
        <a href="{% url 'home' %}" class="simple-text">
            TheFarma
        </a>
    </div>

    <div class="sidebar-wrapper">
        <ul class="nav">
            <li id="menu_dashboard" class="active">
                <a href="{% url 'home' %}">
                    <i class="material-icons">dashboard</i>
                    <p>Dashboard</p>
                </a>
            </li>
            <li id="menu_perfil">
                <a href="{% url 'perfil-view' user.id %}">
                    <i class="material-icons">person</i>
                    <p>Perfil</p>
                </a>
            </li>
            {% if user.is_superuser %}
                <li id="menu_instituicao">
                    <a href="{% url 'instituicao-admin-list' %}">
                        <i class="material-icons">domain</i>
                        <p>Instituições</p>
                    </a>
                </li>
                <li id="menu_usuario">
                    <a href="#">
                        <i class="material-icons">people</i>
                        <p>Usuários</p>
                    </a>
                </li>
            {% endif %}
            <li id="menu_post">
                <a href="{% url 'post-admin-list' %}">
                    <i class="material-icons">comment</i>
                    <p>Posts</p>
                </a>
            </li>
            {% if user.is_superuser %}
                <li id="menu_medicamento">
                    <a href="{% url 'medicamento-admin-list' %}">
                        <i class="material-icons">local_hospital</i>
                        <p>Medicamentos</p>
                    </a>
                </li>
                <li id="menu_atualizacao">
                    <a href="{% url 'atualizacao-admin-list' %}">
                        <i class="material-icons">update</i>
                        <p>Atualizações</p>
                    </a>
                </li>
                <li id="menu_estoque">
                    <a href="{% url 'estoque-admin-list' %}">
                        <i class="material-icons">grid_on</i>
                        <p>Estoque</p>
                    </a>
                </li>
                <li id="menu_farmacia">
                    <a href="{% url 'farmacia-admin-list' %}">
                        <i class="material-icons">favorite</i>
                        <p>Farmacias</p>
                    </a>
                </li>
                <li id="menu_uf">
                    <a href="{% url 'uf-admin-list' %}">
                        <i class="material-icons">my_location</i>
                        <p>UFs</p>
                    </a>
                </li>
            {% endif %}
        </ul>
    </div>
</div>
